.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/src/main/java/com/valvesoftware/android/steam/community/Manifest.java.bak
/app/src/main/java/com/valvesoftware/android/steam/community/R.java.bak
